:root {
    --branco-principal: #FFFFFF;
    --laranja-sedans: #e28525;
    --fonte-titulo:'Unica One';
    --fonte-texto: 'Roboto';
    --verde-suvs:#016972;
    --verde-luxury:#00403f;
    --fundo: #ffffe9;
}
* {
    margin: 0;
    padding: 0;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}
.flexbox-item {
    width: 200px;
    margin: 0px;
}
.flexbox-item-card-1 {
    width: 200px;
    height: 400px;
    margin: 0px;
    background-color: var(--laranja-sedans);
}
.flexbox-item-card-2 {
    width: 200px;
    height: 400px;
    margin: 0px;
    background-color: var(--verde-suvs);
}
.flexbox-item-card-3 {
    width: 200px;
    height: 400px;
    margin: 0px;
    background-color: var(--verde-luxury);
}
.elem-interno {
    margin: 20px;
}

.nome {
    margin: 20px;
    color: var(--branco-principal);
    font-family: var(--fonte-titulo);
    font-size: 2em;
}
.texto {
    margin: 20px;
    text-align: left;
    color: var(--branco-principal);
    font-family: var(--fonte-texto);
    font-weight: 100;
    letter-spacing: 1px;
}
.botao1 {
    margin: 20px;
    width: 150px;
    font-family: var(--fonte-texto); color: var(--branco-principal);
    border:1px solid #ffffff;
    border-radius:20px;
    display:inline-block;
    cursor:pointer;
    font-size:13px;
    padding:10px 10px 10px 10px;
    size: 40px;
    background-color: var(--laranja-sedans);
    letter-spacing: 1px;
}
.botao2 {
    margin: 20px;
    width: 150px;
    font-family: var(--fonte-texto); color: var(--branco-principal);
    border:1px solid #ffffff;
    border-radius:20px;
    display:inline-block;
    cursor:pointer;
    font-size:13px;
    padding:10px 10px 10px 10px;
    size: 40px;
    background-color: var(--verde-suvs);
    letter-spacing: 1px;

}
.botao3 {
    margin: 20px;
    width: 150px;
    font-family: var(--fonte-texto); color: var(--branco-principal);
    border:1px solid #ffffff;
    border-radius:20px;
    display:inline-block;
    cursor:pointer;
    font-size:13px;
    padding:10px 10px 10px 10px;
    size: 40px;
    background-color: var(--verde-luxury);
    letter-spacing: 1px;
    
}
.botao1:hover {
    cursor:pointer;
    border: 2px solid #ffffff;
    box-shadow: #ffffff 0px 0px 12px 1px inset,
                #ffffff 0px 0px 12px 1px;
                border-radius: 15px;
                transition-duration: 0,8s;
    
}
.botao2:hover {
    cursor:pointer;
    border: 2px solid #ffffff;
    box-shadow: #ffffff 0px 0px 12px 1px inset,
                #ffffff 0px 0px 12px 1px;
                border-radius: 15px;
                transition-duration: 0,8s;
}
.botao3:hover {
    cursor:pointer;
    border: 2px solid #ffffff;
    box-shadow: #ffffff 0px 0px 12px 1px inset,
                #ffffff 0px 0px 12px 1px;
                border-radius: 15px;
                transition-duration: 0,8s;
                
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-bottom: auto;
}
.attribution a { color:var(--verde-luxury); }

@media screen and (min-width: 500px) {
    .flexbox-container {
      display: flex;
      place-items: center;
    }
    .botao1:hover {
        cursor: pointer;
        border: 2px solid #ffffff;
        box-shadow: #ffffff 0px 0px 12px 1px inset,
                    #ffffff 0px 0px 12px 1px;
                    border-radius: 15px;
                    transition-duration: 0,8s;
    }
    .botao2:hover {
        cursor:pointer;
        border: 2px solid #ffffff;
        box-shadow: #ffffff 0px 0px 12px 1px inset,
                    #ffffff 0px 0px 12px 1px;
                    border-radius: 15px;
                    transition-duration: 0,8s;
    }
    .botao3:hover {
        cursor:pointer;
        border: 2px solid #ffffff;
        box-shadow: #ffffff 0px 0px 12px 1px inset,
                    #ffffff 0px 0px 12px 1px;
                    border-radius: 15px;
                    transition-duration: 0,8s;
    }
    .attribution {
      grid-column: 2/3;
    }
}
